@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300");

body {
  background: #9c6e21;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.logo {
  flex: 100% 1;
}

img {
  width: 40%;
  min-width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

article {
  display: flex;
  flex-flow: row wrap;
  padding: 0 15%;
  width: auto;
  min-width: 300px;
  flex-basis: 100%;
}

article .col {
  flex: 100% 1;
  min-width: 200px;
  font-size: 1.9rem;
  line-height: 1.4em;
  padding: 1em 10%;
  box-sizing: border-box;
  text-align: left;
}

article .col.half {
  flex: 50% 1;
}

article .col.right {
  text-align: right;
}

article .col h4 {
  font-size: 1rem;
  text-transform: uppercase;
  background: #000;
  color: #9c6e21;
  display: inline-block;
  padding: 0 0.5em;
}

article .col .content {
  display: block;
}

article .col dl {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

article .col dl dt,
article .col dl dd {
  margin: 0.5em 0;
  flex: 70% 1;
}

article .col dl dd {
  text-align: right;
  flex: 30% 1;
}

@media screen and (max-width: 1200px) {
  article {
    padding: 0 5%;
  }
}

@media screen and (max-width: 800px) {
  article .col.half {
    flex: 100% 1;
  }
  article .col.right {
    text-align: left;
  }
}

.col.book {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5rem 0;
  margin: 3rem 0;
}

.col.book .book__link {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
